:host {
  display: block;
  width: 100%;
  background-color: #cbd5e1;
  color: #1e293b;
  flex: 1;
}

#icon {
  width: 5em;
}

#main-nav {
  display: flex;
  gap: 1em;
  padding: 0.5em 1em;
  justify-content: start;
  align-items: center;
  height: 100%;
}

#title {
  font-size: 1.5rem;
  font-weight: bold;
}

#divider {
  margin: 0;
  padding: 0;
  border: solid 0.5px slategray;
  height: 0px;
  background-color: tomato;
  opacity: 100%;
}
