.contact-list-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

@media (max-width: 768px) {
  #title {
    font-size: 1.5rem;
  }

  .form-control {
    font-size: 0.9rem;
  }

  .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
  }
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 0.9rem;
}

#favorite {
  color: rgb(92, 92, 11);
}
